* {
    margin: 5;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: rgb(25, 33, 85);
}

h1 {
    background: linear-gradient(to right, #8a2be2, #ff007f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
}

button {
    background-color: #8a2be2;
    font-weight: 300;
    color: white;
    border: none;
    width: 60px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
}

input {
    color:#8a2be2 ;
    border-radius: 50px;
    border: none;
    padding: 5px 5px 5px 5px;
}

input::placeholder {
    color:#8a2be2;
    opacity: 0.5;
}

div.tableContainer {
    margin-top: 20px;
}

th {
    font-weight: 400;
}